<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <title>Remon Alpha Beta Phi</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="includes/alertify/alertify.min.css">
        <link rel="stylesheet" href="includes/alertify/bootstrap.min.css">
        <link rel="stylesheet" href="index.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>

        <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="includes/alertify/alertify.min.js"></script>
        <script src="app.js"></script>
        <script src="chart.js"></script>
    </head>
    <body>
        <div class="container-fluid" ng-controller="homeController">
            <div class="row stats">
                <div class="col-md-2">
                    <span class="stat-label">
                        CPU 
                    </span>
                    <span class="stat-value">
                        {{ cpuInfo.model }}
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        Cores
                    </span>
                    <span class="stat-value">
                        {{ cpuInfo.coreCount }}
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        CPU Speed
                    </span>
                    <span class="stat-value">
                        {{ cpuInfo.frequency }}Mhz
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        VCore
                    </span>
                    <span class="stat-value">
                        {{ cpuInfo.vcore }}v
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        System Ram
                    </span>
                    <span class="stat-value">
                       {{ ramInfo.totalMemory  }}Mb
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        Free Ram
                    </span>
                    <span class="stat-value">
                       {{ ramInfo.freeMemory  }}Mb
                    </span>
                </div>
            </div>
            <!-- Row for GPU stats -->
            <div class="row stats">
                <div class="col-md-2">
                    <span class="stat-label">
                        GPU
                    </span>
                    <span class="stat-value">
                        {{ gpuInfo.gpuName }}
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        GPU Core Clock
                    </span>
                    <span class="stat-value">
                        {{ gpuInfo.coreClock }}Mhz
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        GPU Mem Clock
                    </span>
                    <span class="stat-value">
                        {{ gpuInfo.memClock }}Mhz
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        GPU Voltage
                    </span>
                    <span class="stat-value">
                        {{ gpuSensors.voltage }}v
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        GPU Memory
                    </span>
                    <span class="stat-value">
                        {{ gpuInfo.totalMemory }}Mb
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="stat-label">
                        Used Gpu Ram
                    </span>
                    <span class="stat-value">
                        {{ gpuSensors.memoryUsage }}Mb
                    </span>
                </div>
            </div>
            <div class="row stat-panels">
                <div class="col-md-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Cpu Stats
                        </div>
                        <div class="panel-body cpupanel">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Stat</th>
                                    <th ng-repeat="x in '12345678'.split('',4)">
                                        CPU {{ x }}
                                    </th>
                                </tr>
                                <tr>
                                    <td>Load</td>
                                    <td ng-repeat="load in cpuSensors.load track by $index">
                                        {{ load }}%
                                    </td>
                                </tr>
                                <tr>
                                    <td>Temp</td>
                                    <td ng-repeat="temp in cpuSensors.temperature track by $index">
                                        {{ temp }}C
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Gpu Stats
                        </div>
                        <div class="panel-body cpupanel">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Stat</th><th>Gpu 0</th>
                                </tr>
                                <tr>
                                    <td>Load</td>
                                    <td>{{ gpuSensors.load }}%
                                </tr>
                                <tr>
                                    <td>Temp</td>
                                    <td>{{ gpuSensors.temperature }}C</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="cpu-chart" class="stat-chart">
                        <!-- CPU Chart Here -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="gpu-chart" class="stat-chart">
                        <!-- GPU Chart Here -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
