
.stats {
    background-color: #ddd;
}

.stat-label {
    font-weight: bold;
}

.stat-panels {
    margin: 15px 0px;
}

.stat-wrapper {
    display: block;
    width: 100%;
}

.cpupanel {
    padding: 0 !important;
}

.cpupanel .table {
    margin: 0 !important;
}

.stat-chart {
    width: 100%;
    height: 350px;
}